
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>
        The data was collected with the help of <a href="http://www.awareframework.com/">Aware Framework</a>
        The data primarily contains GPS sensor information over a week (October 09, 2018 to October 16, 2018) along with the timestamps.
        The table contains arrival timestamp, departure timestamp, address of the location, lat-long of the location and accuracy.
        </p>
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>The data was collected by capturing various sensor data which was performed with the help of the Aware Client on iOS running on Apple iPhone 6S which was always within a 10ft range from Shaleen.</p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>Both read and write access to the dataset is restricted only to the data owner. Here we define data owner as the person whose data is collected, here Shaleen.
    However, the visualizations on this data and selected information is made available by this website to describe last week's story of Shaleen's life on this website.
    </p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
